<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ¤W­z3ªmetaዯ*¥²§*©ñ̫e­±¡A¥ôäX®e³£*¥²§*¸òä¡I -->
    <title>Index Page</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">	
    <link href="css/carousel.css" rel="stylesheet"> 
	
</head>
<body>

<!---
<form action="/hello" method="post">
	First data:<br>
	<input type="file" name="mRna" >
	<br>
	Second data:<br>
	<input type="file" name="lncRna" >
	<br>
	Last data:<br>
	<input type="file" name="lncRna" >
	<br><br>
</form>

<form action='/result' method="get">
	 <input type="submit"  value='request'></input>
</form>
<form action='/hello' >
	 <input type="submit"  value='next'></input>
</form>
!--->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
    </div>
    <div>
        <ul class="nav navbar-nav">
            <li><a href="/analysis">Start Analysis</a></li>
            <li><a href="/check_result">Check Result</a></li>
            <li><a href="#">Guide Book</a></li>
            <li><a href="#">Contact US</a></li>
        </ul>
    </div>
    </div>
</nav>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/images/network.png" style ="width: 1024px; height: 1024px" alt="First Slide">
        </div>
        <div class="item">
            <img src="/images/chicago.jpg" style ="width: 1280px; height: 800px" alt="Second Slide">
        </div>
        <div class="item">
            <img src="/images/wallpaper.png" style ="width: 2048px; height: 600px" alt="Third Slide">
        </div>
    </div>
    <!-- Carousel controls -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<hr class="featurette-divider">
<div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="/images/network.png " data-holder-rendered="true">
          </div>
        </div>
<script type="text/javascript" src='/jquery-3.2.1.min.js'></script>
<script type="text/javascript" src='js/bootstrap.min.js'></script>

</body>
</html>
